.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-position: auto center;
    background-size: cover;
}


//the inputs
.loginDiv{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 500px;
    height: 700px;
    opacity: .8;
    border-radius: 50px;
    background-color: rgb(170, 136, 136);
    
    h1, p{
        color:white;
    }
    
    .logo{
        width: 80px;
        height: 80px;
    }

    .inputs{
        height: 350px;
    }

    .input-div{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        gap: 5px;
        padding: 5px;
        background-color: rgb(212, 228, 229);
        border-radius: 10px;
        align-items: center;

        img{
            height: 30px;
        }
        
        .input{
            color: black;
            background-color: rgb(212, 228, 229);
            border-style: none;
            width: 300px;
            height: 50px;
            border-radius: 10px;
            font-size: 20px;
            outline: none;
            

        }

    }

}
//for the buttons under the inputs
.submit-div{
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        align-items: center;

        .submit{
            width: 200px;
            height: 50px;
            border-radius: 20px;
            background-color:rgb(186, 198, 223);
            border-style: none; 
            margin-bottom: 10px;
            font-size: 20px;
            color: gray;
        
        }
        .submit:hover{
                cursor: pointer;
                background-color:rgb(209, 215, 228);
            }


        .btn{
            margin-top:0;
            text-decoration: underline;
            cursor: pointer;
            
        }

        p{
            margin-bottom: 5px;
        }

    }
    