.account-container{
    display: flex;
    height: 100%;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding:0;
    

    .account{
        color: white;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 90vw;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 50px;
        height: 90vh;
        //flex-wrap: wrap;
        

        .account-user, .user-pref{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(245, 222, 179, 0.234);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 20px;
            margin-bottom: 40px;
            height: 90vh;
        
        }
        .account-user{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 30vw;
            height: 100%;


            .account-edit{
                display: flex;
                background-color: rgb(185, 165, 165);
                border-radius: 50%;
            }

            
            .account-pic-container{
                display: flex;
                align-items: end;

                .account-pic{
                    margin-top: 20px;
                    background-color: rgb(130, 119, 119);
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

            }


            .userName-container{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
    

                .account-username{
                    text-align: center;
                    overflow-wrap: break-word; 
                    margin: 0;
                }
                p{
                    margin: 0;
                }
            }


        }
        .user-pref{
            width: 50vw;
            height: 100%;

        }

    }

}
// @media (max-width: 900px){
//     .sideBar{
//         display: none;
//     }
//     .account-container .account .account-user{
//         display: none;
//     }
        
// }



//The navigation side bar

.sideBar{
    
        background-color: rgb(172, 179, 179);
        margin: 0;
        padding: 0;
        width: 200px;
        height: 100vh;



        .list-group{
            list-style-type: none;
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;

            .list-item{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(172, 179, 179);
                height: 60px;
                gap: 20px;
                color:white;
                
                #icon{
                
                    flex: 30%;
                    text-align: right;
                    margin-left: 25px;
                    
                }

                #title{
                    
                    flex: 70%;
                    text-align: left;
                }
            
                
            }

            #active{
                background-color:rgb(97, 95, 93) ;
            }
            

            .list-item:hover{
                background-color:rgb(97, 95, 93) ;
                cursor: pointer;
            }
        }

    }



//modal

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #a94545;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    color: rgb(238, 232, 232);
}
.update-info-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}



