footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}



.read-the-docs {
  color: #888;
}

.navBar{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%
}

.app-container{
  display: flex;
    height: 100%;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding:0;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    gap: 50px;
}

.pet-info{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.pet-name{
  font-size: 40px;
}

.pet-desc{
  font-size: 25px;
}

.pet-tags{
  font-size: 20px;
}


