footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}



.read-the-docs {
  color: #888;
}
/* navbar */

.navBar{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.menuIcon-Items{
  display: flex;
  gap: 50px;
  padding-left: 45px;
  font-size: 25px;
}

.menuIcon-Items{
  text-align: center;
}

.menuIcon-Items{
  text-decoration: underline;
}

.menuIcon-Items:hover{
  cursor: pointer;
}



.app-container{
  display: flex;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding:0;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  gap: 50px;
  flex-wrap: wrap;
}

.pet-details{
  flex: 1;
  min-width: 0;
  background-color: rgba(148, 235, 189, 0.234);
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
  margin-left: 50px;
  min-width: 420px;
}

.pet-info{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.pet-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

.pet-name{
  font-size: 40px;
}

.pet-desc{
  font-size: 25px;
}

.pet-tags{
  font-size: 20px;
}

.like-dislike{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  font-size: 100px;
}

.like-dislike .fa-thumbs-up:hover {
  transform: scale(1.1); /* Increase the size by 10% */
  color: green; /* Change the color to green */
}

.like-dislike .fa-thumbs-up:active {
  animation: pulse 0.5s;
}

.like-dislike .fa-thumbs-down:hover {
  transform: scale(1.1); /* Increase the size by 10% */
  color: red; /* Change the color to red */
}

.like-dislike .fa-thumbs-down:active {
  animation: pulse 1s;
}

.info-like-dislike {
  flex: 1;
  min-width: 0;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(148, 235, 189, 0.234);
  border-radius: 20px;
  margin-right: 50px;
  min-width: 550px;
}

.info-list{
  display: grid;
  grid-template-columns: auto auto;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}





